html, body{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
}
ul{
	list-style-image: url('../images/gears/svg/gear-5-dark-brown.svg');
}
#title{
    width: 740px;
    height: 100px;
    margin: 0px -10px;
    cursor: pointer;
}

#agner-text{
    position: relative;
    z-index: 10;
    float: left;
    margin: 10px 45px;
}
#vs-text{
    position: relative;
    z-index: 10;
    float: left;
    margin: 0px 110px;
}
#bamberger-text{
    position: relative;
    z-index: 10;
    float: right;
    margin: 10px 45px;
}
.content-container{
    overflow: auto;
    margin: 10px 10px 0px 25px;
    padding-bottom: 150px;
    /*border: #2f3a4c solid;*/
}
.content-title{
    width: 100%;
}
#home-content{
    height: 600px;
}
#guest-not-logged-in-home{
    float: left;
}
#guest-logged-in-home{
    float: left;
}
.label{
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}
.form-input{
    border: 0px;
    border-radius: 3px;
    padding: 2px 5px;
    margin: 2px;
}
.log-in-label{
    margin: 15px 0px;
}
.login-input{
    float: left;
    margin: 10px 0px;
    padding: 5px 10px;
    width: 100px;
}
.login-form-button{
    float: left;
    margin: 0px 10px;
}

/* Side Menu */
#menu-bar{

    border-top: #bccbe5 solid;
    border-right: #4c4128 solid;
    border-bottom: #4c4128 solid;
}
.menu-bar-button{
    width: 100px;
    border-radius: 0px;
    font-size: 25px;
    outline-color: #2f3a4c;
    margin: 0px -5px 0px 0px;
}
/* Pop Ups */
.pop-up-on{
    z-index: 20;
    position: absolute;
}
#pop-ups{
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
#hide-everything-else{
    height: 100%;
    width: 100%;
    background: white;
    opacity: 0.4;
}
#add-plus-one-box{
    height: 335px;
}
#add-song-suggestion-box{
    height: 185px;
}
#welcome-box{
	width: 30%;
}
.pop-up-box{
    position: absolute;
    left: 20%;
    top: 250px;
    border: #2f3a4c solid 1px;
    border-radius: 3px;
    padding: 10px;
    z-index: 10;
}
#plus-one-food{
    width: 110px;
}
#plus-one-over-21{
    width: 110px;
}
input.ui-button.form-pop-up-add-button{
    padding: 2px 5px;
    position: absolute;
    right: 60px;
}
input.ui-button.form-pop-up-cancel-button{
    padding: 2px 5px;
    position: absolute;
    right: 10px;
}
input.ui-button.form-add-person{
    top: 315px;
}
input.ui-button.form-add-song{
    top: 165px;
}
#error-box{
    width: 320px;
    height: 150px;
    border: solid #992923 2px;
}
#error-label{

}
#error-reason{

}
#error-button{
    position: absolute;
    top: 120px;
    left: 240px;
}
/* RSVP Content */
#rsvp-content{

}
.left-info-side{
    float: left;
    width: 50%;
    height: 100%;
    padding: 5px 0px 5px 10px;
}
.right-info-side{
    float: right;
    width: 42%;
    border-left: #2f3a4c solid 1px;
    padding: 5px 5px 5px 10px;
}
.one-rsvp{
    height: 230px;
}
.two-rsvp{
    height: 330px;
}
.three-rsvp{
    height: 430px;
}
.ui-widget input.person-label{
    font-size: 28px;
}
.ui-accordion .ui-accordion-header.person-label{
    padding: 10px 0px 0px 40px;
}
.first-name{
    width: 100px;
    height: 35px;
}
.last-name{
    width: 140px;
    height: 35px;
}

#people-in-party{
    position: relative;
    float: left;
    width: 400px;
    margin: 5px 10px 5px 5px;
}
#people-accordion{
    width: 400px;
}

.ui-accordion .ui-accordion-content.person-info{
    outline-color: #2f3a4c;
    padding: 0px;
}
/* Food Selection */
.ui-selectmenu-button span.ui-selectmenu-text{
    padding: 2px 5px;
}
.ui-selectmenu-button span.ui-icon{
    right: 5px;
}
/* Allergies */
.strike-out{
    text-decoration: line-through;
}
.ui-widget input.form-add-allergy{
    border: none;
    border-radius: 3px;
    padding: 2px 5px;
    width: 125px;
    font-family: centuryGothic;
    font-size: 15px;
}
li.allergy{
    padding-right: 3px;
    display: block;
}
ul.allergy-list{
    padding: 0px;
    margin-top: 0px;
}
/* Group Information */
#party-box{
    float: left;
    width: 360px;
    height: 500px;
}
.address-label{
    padding-top: 5px;
    margin: 5px 13px 0px 13px;
}
#party-info-form{
    margin: 0px 5px 13px 13px;
}
#party-info-box{
    border-bottom: #2f3a4c solid 1px;
    height: 40px;
    padding: 0px 5px;
}
#party-info-label{
    float: left;
    margin: 5px 10px 5px 10px;
    font-weight: bold;
}
#party-info-content{
    width: 350px;
    height: 150px;
    float: left;
    border: #2f3a4c solid 1px;
    border-radius: 3px;
    margin: 7px 10px;
}
.party-info-address{
    height: 20px;
}
.party-info-address-first-row{
    top: 75px;
}
.party-info-address-second-row{
    top: 100px;
}
.party-info-address-third-row{
    top: 125px;
}
#party-address-house-num{
    width: 60px;
}
#party-address-street{
    width: 180px;
}
#party-address-apt{
    width: 50px;
}
#party-address-city{
    width: 100px;
}
#party-address-state{
    width: 35px;
}
#party-address-zip{
    width: 70px;
}


textarea{
    resize: none;
}
input:enabled, textarea:enabled{
    font-weight: bold;
    color: #2f3a4c;
    background-color: #bccbe5;
}
input:disabled, textarea:disabled{
    font-weight: bold;
    color: #2f3a4c;
    border: none;
}


/* Edit Buttons */
#party-info-edit-button{
    top: 4px;
}
#party-info-save-button{
    top: 4px;
}
#party-info-cancel-button{
    top: 4px;
}
.ui-state-active.person-label{
    outline-color: #2f3a4c;
}
.ui-widget input.person-label-input{
    border: none;
    border-radius: 3px;
    margin-left: 5px;
    margin-bottom: 10px;
    padding-left: 5px;
    font-size: 30px;
}
input.ui-button.form-edit-button{
    padding: 2px 5px;
    position: absolute;
    right: 5px;
    top: 12px;
}
input.ui-button.form-save-button{
    padding: 2px 5px;
    position: absolute;
    right: 60px;
    top: 12px;
}
input.ui-button.form-cancel-button{
    padding: 2px 5px;
    position: absolute;
    right: 10px;
    top: 12px;
}

input.ui-button.form-edit-float-button{
    padding: 2px 5px;
    float: right;
}
input.ui-button.form-save-float-button{
    padding: 2px 5px;
    float: right;
}
input.ui-button.form-cancel-float-button{
    padding: 2px 5px;
    float: right;
}
input.ui-widget.form-delete-button{
    width: 15px;
    height: 15px;
    padding: 0px 0px 0px 0px;
    margin-top: 6px;
    margin-left: 10px;
    font-size: 10px;
    font-family: centuryGothic;
    float: right;
}
input.ui-widget.form-add-button{
    width: 20px;
    height: 20px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 5px 10px;
    font-size: 15px;
    font-family: centuryGothic;
}
#guest-content{
    width: 300px;
    height: 100px;
}
#send-email-button{
    margin-top: 10px;
}

/* Music Suggestions*/
#music-suggestions-content{
    float: left;
    width: 330px;
    border: #2f3a4c solid 1px;
    border-radius: 3px;
    padding: 10px;
    margin: 20px 10px;
}
.song-name{
    padding-right: 12px;
    width: 150px;
}
.song-band{
    width: 150px;
}
/* Maps */
.map-buttons{
    margin: 20px 0px;
}
/* Fonts and Font Sizes */
@font-face {
    font-family: centuryGothic;
    src: url(ufonts.com_century-gothic.ttf);
}
@font-face {
    font-family: Astrud;
    src: url(astrud/Astrud.ttf);
}
.font-size-80{
    font-size: 80px;
}
.font-size-60{
    font-size: 60px;
}
.font-size-40{
    font-size: 40px;
}
.font-size-30{
	font-size: 30px;
}
.font-size-25{
    font-size: 25px;
}
.font-size-20{
    font-size: 20px;
}
.centuryGothicFont{
    font-family: centuryGothic;
}
.astrudFont{
    font-family: Astrud;
}
/* TextColors */
.larkspur-text{
    color: #6e7e99;
}
.light-larkspur-text{
    color: #bccbe5;
}
.dark-larkspur-text{
    color: #2f3a4c;
}
.dark-brown-text{
    color: #4c4128;
}
.light-brown-text{
    color: #998b6e;
}
.light-red-text{
    color: #FFB6B2;
}
.dark-red-text{
    color: #992923;
}
/* Background Colors */
.larkspur-background{
    background-color: #6e7e99;
}
.light-larkspur-background{
    background-color: #bccbe5;
}
.dark-larkspur-background{
    background-color: #2f3a4c;
}
.dark-brown-background{
    background-color: #4c4128;
}
.light-brown-background{
    background-color: #998b6e;
}
.light-red-background{
    background-color: #FFB6B2;
}
.dark-red-background{
    background-color: #992923;
}
.person-label:hover .hover-person-background{
    background-color: #bccbe5;
}
.v-align-top{
	vertical-align: top;
}

@-moz-keyframes spin { 100% {-moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% {-webkit-transform: rotate(360deg); } }
@keyframes spin { 100% {-webkit-transform: rotate(360deg); transform:rotate(360deg); } }

div.loading-animation {
	background-image: url("../images/gears/png/gear-5-dark-brown.png");
	background-repeat: no-repeat;
	background-size: contain;
	-moz-animation:spin 1.5s linear infinite;
	-webkit-animation:spin 1.5s linear infinite;
	animation:spin 1.5s linear infinite;
	float: right;
	width: 50px;
	height: 50px;
}

div.gear-animation:hover {
    -moz-animation:spin 3.5s linear infinite;
    -webkit-animation:spin 3.5s linear infinite;
    animation:spin 3.5s linear infinite;
}
.light-larkspur-gear-5{
    background-image: url("../images/gears/png/gear-5-light-blue.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.light-brown-gear-4{
    background-image: url("../images/gears/png/gear-4-light-brown.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.dark-brown-gear-2{
    background-image: url("../images/gears/png/gear-2-dark-brown.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.light-brown-gear-1{
    background-image: url("../images/gears/png/gear-1-light-brown.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.relative-position{
    position: relative;
    float: left;
    z-index: 10;
}
/* Title */
#bride-silhouette{
    background-image: url("../images/bride.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 175px;
}
#groom-silhouette{
    background-image: url("../images/groom.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 390px;
}
#title-gear-holder{
    position: relative;
    z-index: 1;
    width: 400px;
    height: 100px;
}
#title-gear-type-5-1{
    position: absolute;
    width: 100px;
    height: 100px;
    left: -50px;
}
#title-gear-type-5-2{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 690px;
}
#title-gear-type-2{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 280px;
    top: 0px;
}
#title-gear-type-1{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 320px;
    top: 40px;
}

/* RSVP */
#rsvp-gear-holder{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100px;
}
#rsvp-gear-type-5{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 80px;
    top: 0px;
}
#rsvp-gear-type-4{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50px;
    top: 30px;
}
/* People Accordion*/
#people-in-party-gear-holder{
    position: relative;
    z-index: 1;
    width: 400px;
    height: 100px;
}
#people-in-party-gear-type-2{
    position: absolute;
    width: 35px;
    height: 35px;
    right: -20px;
    top: -20px;
}
/* Party Box */
#party-box-gear-holder{
    position: relative;
    z-index: 1;
    width:100%;
    height: 10px;
}
#party-box-gear-type-2-1{
    position: absolute;
    width: 35px;
    height: 35px;
    right: -20px;
    top: -15px;
}
#party-box-gear-type-2-2{
    position: absolute;
    width: 35px;
    height: 35px;
    right: -20px;
    top: 165px;
}
/* Welcome Page */
#welcome-image{
    position: relative;
    float: left;
}
#bride-groom-image:hover + .gear-animation{
    -moz-animation:spin 3.5s linear infinite;
    -webkit-animation:spin 3.5s linear infinite;
    animation:spin 3.5s linear infinite;
}
#bride-groom-image{
    background-image: url("../images/bride-groom.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 20px;
    left: 90px;
    width: 333px;
    height: 466px;
    z-index: 10;
}
#gear-background{
    background-image: url("../images/gears/svg/gear-background-light-blue.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 550px;
    height: 550px;
}