html, body{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
}
#title{
    height: 100px;
    border-bottom: #bccbe5 solid;
    margin: 0px -10px;
    cursor: pointer;
}

#agner-text{
    position: absolute;
    left: 5%;
    margin-top: 10px;
}
#vs-text{
    position: absolute;
    left: 40%;
}
#bamberger-text{
    position: absolute;
    right: 5%;
    margin-top: 10px;
}
.content-container{
    overflow: auto;
    margin: 10px 10px 0px 25px;
    /*border: #2f3a4c solid;*/
}
.label{
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}
.log-in-label{
    margin: 15px 0px;
}
.login-input{
    float: left;
    margin: 5px 0px;
}
.login-form-button{
    float: left;
    margin: 0px 10px;
}

/* Side Menu */
#menu-bar{
    width: 100%;
    border-right: #4c4128 solid;
    border-bottom: #4c4128 solid;
}
.menu-bar-button{
    width: 100px;
    border-radius: 0px;
    font-size: 25px;
    outline-color: #2f3a4c;
    margin: 0px -5px 0px 0px;
}
/* Pop Ups */
.pop-up-on{
    z-index: 20;
    position: absolute;
}
#pop-ups{
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
#hide-everything-else{
    height: 100%;
    width: 100%;
    background: white;
    opacity: 0.4;
}
#add-plus-one-box{
    height: 330px;
}
#add-song-suggestion-box{
    height: 180px;
}
.pop-up-box{
    position: absolute;
    left: 20%;
    top: 250px;
    border: #2f3a4c solid 1px;
    border-radius: 3px;
    padding: 10px;
    z-index: 10;
}
#plus-one-food{
    width: 110px;
}
#plus-one-over-21{
    width: 110px;
}
input.ui-button.form-pop-up-add-button{
    padding: 2px 5px;
    position: absolute;
    right: 60px;
}
input.ui-button.form-pop-up-cancel-button{
    padding: 2px 5px;
    position: absolute;
    right: 10px;
}
input.ui-button.form-add-person{
    top: 308px;
}
input.ui-button.form-add-song{
    top: 160px;
}
#error-box{
    width: 320px;
    height: 150px;
    border: solid #992923 2px;
}
#error-label{

}
#error-reason{

}
#error-button{
    position: absolute;
    top: 120px;
    left: 240px;
}
/* RSVP Content */
#rsvp-content{

}
.left-info-side{
    float: left;
    width: 45%;
    height: 100%;
    padding: 5px 0px 5px 10px;
}
.right-info-side{
    float: right;
    width: 47%;
    height: 225px;
    border-left: #2f3a4c solid 1px;
    padding: 5px 5px 5px 10px;
}
.ui-widget textarea.person-label{
    font-size: 28px;
}
.ui-accordion .ui-accordion-header.person-label{
    padding: 10px 0px 0px 40px;
}
.first-name{
    width: 100px;
    height: 35px;
}
.last-name{
    width: 140px;
    height: 35px;
}
#people-in-party{
    float: left;
    width: 400px;
    margin: 5px 10px 5px 5px;
}

.ui-accordion .ui-accordion-content.person-info{
    outline-color: #2f3a4c;
    padding: 0px;
}
/* Food Selection */
.ui-selectmenu-button span.ui-selectmenu-text{
    padding: 2px 5px;
}
.ui-selectmenu-button span.ui-icon{
    right: 5px;
}
/* Allergies */
.strike-out{
    text-decoration: line-through;
}
.form-add-allergy{
    border: none;
    border-radius: 3px;
}
li.allergy{
    padding-right: 10px;
    display: block;
}
ul.allergy-list{
    padding: 0px;
    margin-top: 0px;
}
/* Group Information */
.address-label{
    padding-top: 5px;
    margin: 5px 13px 0px 13px;
}
#party-info-form{
    margin: 0px 13px 13px 13px;
}
#party-info-box{
    border-bottom: #2f3a4c solid 1px;
    height: 40px;
    padding: 0px 5px;
}
#party-info-label{
    float: left;
    margin: 5px 10px 5px 10px;
    font-weight: bold;
}
#party-info-content{
    width: 350px;
    height: 150px;
    float: left;
    border: #2f3a4c solid 1px;
    border-radius: 3px;
    margin: 7px 10px;
}
.party-info-address{
    height: 20px;
}
.party-info-address-first-row{
    top: 75px;
}
.party-info-address-second-row{
    top: 100px;
}
.party-info-address-third-row{
    top: 125px;
}
#party-address-house-num{
    width: 75px;
}
#party-address-street{
    width: 180px;
}
#party-address-apt{
    width: 50px;
}
#party-address-city{
    width: 120px;
}
#party-address-state{
    width: 35px;
}
#party-address-zip{
    width: 70px;
}


textarea{
    resize: none;
}
input:enabled, textarea:enabled{
    font-weight: bold;
    color: #2f3a4c;
    background-color: #bccbe5;
}
input:disabled, textarea:disabled{
    font-weight: bold;
    color: #2f3a4c;
    border: none;
}


/* Edit Buttons */
#party-info-edit-button{
    top: 4px;
}
#party-info-save-button{
    top: 4px;
}
#party-info-cancel-button{
    top: 4px;
}
.ui-state-active.person-label{
    outline-color: #2f3a4c;
}
.person-label{

}
input.ui-button.form-edit-button{
    padding: 2px 5px;
    position: absolute;
    right: 5px;
    top: 12px;
}
input.ui-button.form-save-button{
    padding: 2px 5px;
    position: absolute;
    right: 60px;
    top: 12px;
}
input.ui-button.form-cancel-button{
    padding: 2px 5px;
    position: absolute;
    right: 10px;
    top: 12px;
}

input.ui-button.form-edit-float-button{
    padding: 2px 5px;
    float: right;
}
input.ui-button.form-save-float-button{
    padding: 2px 5px;
    float: right;
}
input.ui-button.form-cancel-float-button{
    padding: 2px 5px;
    float: right;
}
input.ui-widget.form-delete-button{
    width: 15px;
    height: 15px;
    padding: 0px 0px 0px 0px;
    margin-top: 6px;
    margin-left: 10px;
    font-size: 10px;
    font-family: centuryGothic;
    float: right;
}
input.ui-widget.form-add-button{
    width: 20px;
    height: 20px;
    padding: 0px 0px 0px 0px;
    margin-left: 10px;
    font-size: 15px;
    font-family: centuryGothic;
}
.form-input{
    border: 0px;
    border-radius: 3px;
}
#guest-content{
    width: 300px;
    height: 100px;
}
#send-email-button{
    margin-top: 10px;
}

/* Music Suggestions*/
#music-suggestions-content{
    float: right;
    width: 250px;
}
.song-name{
    padding-right: 12px;
}
.song-band{

}
/* Maps */
.map-buttons{
    margin: 20px 0px;
}
/* Fonts and Font Sizes */
@font-face {
    font-family: centuryGothic;
    src: url(ufonts.com_century-gothic.ttf);
}
@font-face {
    font-family: Astrud;
    src: url(astrud/Astrud.ttf);
}
.font-size-80{
    font-size: 80px;
}
.font-size-60{
    font-size: 60px;
}
.font-size-40{
    font-size: 40px;
}
.font-size-25{
    font-size: 25px;
}
.font-size-20{
    font-size: 20px;
}
.centuryGothicFont{
    font-family: centuryGothic;
}
.astrudFont{
    font-family: Astrud;
}
/* TextColors */
.larkspur-text{
    color: #6e7e99;
}
.light-larkspur-text{
    color: #bccbe5;
}
.dark-larkspur-text{
    color: #2f3a4c;
}
.dark-brown-text{
    color: #4c4128;
}
.light-brown-text{
    color: #998b6e;
}
.light-red-text{
    color: #FFB6B2;
}
.dark-red-text{
    color: #992923;
}
/* Background Colors */
.larkspur-background{
    background-color: #6e7e99;
}
.light-larkspur-background{
    background-color: #bccbe5;
}
.dark-larkspur-background{
    background-color: #2f3a4c;
}
.dark-brown-background{
    background-color: #4c4128;
}
.light-brown-background{
    background-color: #998b6e;
}
.light-red-background{
    background-color: #FFB6B2;
}
.dark-red-background{
    background-color: #992923;
}