#title{
    height: 100px;
    border-bottom: #bccbe5 solid;
    margin: 0px -10px;
}
#agner-text{
    position: absolute;
    left: 5%;
    margin-top: 10px;
    color: #2f3a4c;
}
#vs-text{
    position: absolute;
    left: 40%;
    color: #2f3a4c;
}
#bamberger-text{
    position: absolute;
    right: 5%;
    margin-top: 10px;
    color: #2f3a4c;
}
.content-container{
    position: absolute;
    left: 10%;
    top: 200px;
    width: 80%;
    /*border: #2f3a4c solid;*/
}

.label{
    font-weight: bold;
}

/* Side Menu */
#menu-bar{
    position: absolute;
    left: 0px;
    width: 100%;
    border-right: #4c4128 solid;
    border-bottom: #4c4128 solid;
}
.menu-bar-button{
    width: 100px;
    border-radius: 0px;
    font-size: 25px;
    outline-color: #2f3a4c;
    margin: 0px -5px 0px 0px;
}

/* RSVP Content */
#rsvp-content{

}
#people-accordion{
    width: 60%;
}
.person-info{
    outline-color: #2f3a4c;
}
.form-input{

}
#guest-content{

}
#send-email-button{
    margin-top: 10px;
}
/* Music Suggestions*/
#music-suggestions-content{
    position: absolute;
    right: 0;
    top: 30px;
    width: 25%;
}
.song-name{
    padding-right: 12px;
}
.song-band{

}
/* Fonts and Font Sizes */
@font-face {
    font-family: centuryGothic;
    src: url(ufonts.com_century-gothic.ttf);
}
@font-face {
    font-family: Astrud;
    src: url(astrud/Astrud.ttf);
}
.font-size-80{
    font-size: 80px;
}
.font-size-60{
    font-size: 60px;
}
.font-size-40{
    font-size: 40px;
}
.font-size-25{
    font-size: 25px;
}
.centuryGothicFont{
    font-family: centuryGothic;
}
.astrudFont{
    font-family: Astrud;
}
/* Colors */
.larkspur{
    background-color: #6e7e99;
}
.light-larkspur{
    background-color: #bccbe5;
}
.dark-larkspur{
    background-color: #2f3a4c;
}
.dark-brown{
    background-color: #4c4128;
}
.light-brown{
    background-color: #998b6e;
}